<section class="card">
  <a href="/food/{{id}}">
    <header>{{name}}</header>

    <div class="card-body">
      <!--<img src="/images/{{filename}}" alt="{{description}}">-->
      <p>{{description}}</p>
    </div>
  </a>
</section>
