<article class="post">
  <div class="title">
    {{potluck.name}}
  </div>
  <div class="meta">
    Description: {{potluck.description}} 
    | created by {{user.username}} on {{format_date created_at}}
    |
    <a href="/post/{{id}}">{{comments.length}} {{format_word "Details" comments.length}}</a>
  </div>
</article>
