<article class="post">
  <div class="title">
    {{name}}
  </div>
  <div class="meta">
    {{description}} 
    | hosted by {{user.username}} from {{startDateTime}} to {{endDateTime}}
    |
    <a href="/potluck/{{id}}">{{comments.length}} {{format_word "Potluck Details" comments.length}}</a>
  </div>
</article>
