<div id="comment-id" style="display:block">{{comment.id}}</div>
<div id="comment-user" style="display:block">{{comment.user_id}}</div>
<div id="comment-text" style="display:block">{{comment.comment_text}}</div>
<div id="potluck-id" style="display:block">{{comment.potluck.id}}</div>
<div id="sessionuser" style="display:block">{{sessionuser}}</div>

<button id="delete-btn" class="button is-link is-danger">Delete Comment</button>

<script src="/js/delete-comment.js"></script>