
<h1>Food id: {{food.id}}</h1>
<h1>Food name: {{food.name}}</h1>
<h1>Food description: {{food.description}}</h1>
<h1>Food user_id: {{food.user_id}}</h1>
<h1>Food potluck_id: {{food.potluck_id}}</h1>
<h4> Session user_id: {{sessionuser}}</h4>
<h2> User id: {{food.user.id}}</h2>
<h2> Username: {{food.user.username}}</h2>

<button type="submit" class="button is-info" id="edit-btn">Edit</button>
<button type="submit" class="button is-info" id="delete-btn">Delete</button>

<script src="/js/delete-food.js"></script>
<script src="/js/edit-food.js"></script>