
<h1 style="display:none">Food id: {{food.id}}</h1>
<h1 style="display:none">Food name: {{food.name}}</h1>
<h1 style="display:none">Food description: {{food.description}}</h1>
<h1 style="display:none">Food user_id: {{food.user_id}}</h1>
<h1 style="display:none">Food potluck_id: {{food.potluck_id}}</h1>
<div id="fooduser" style="display:block">{{food.user_id}}</div>
<div id="foodpotluck" style="display:block">{{food.potluck_id}}</div>
<div id="sessionuser" style="display:block">{{sessionuser}}</div>
<h4 style="display:none"> Session user_id: {{sessionuser}}</h4>
<h2 style="display:none"> User id: {{food.user.id}}</h2>
<h2 style="display:none"> Username: {{food.user.username}}</h2>

<section class="column box">
  <h2>Edit Food</h2>
<form class="edit-food-form">
  <div class="control">
    <label for="edit-food-name">Food Name</label>
    <div class="control">
      <input class="input" id="edit-food-name" type="text" name="edit-food-name" placeholder="e.g. pizza">
    </div>
  </div>

  <div class="field">
    <label for="edit-food-description">Food Description</label>
    <div class="field">
      <input class="input" type="text" id="edit-food-description" name="edit-food-description" placeholder="e.g. Cheese">
    </div>
  </div>

  <button type="submit" class="button is-info" id="edit-btn">Edit</button>
</form>
</section>

<button type="submit" class="button is-info" id="delete-btn">Delete</button>

<script src="/js/delete-food.js"></script>
<script src="/js/edit-food.js"></script>