<section class="food">
  <!-- <img src="/images/{{painting.filename}}" alt="{{painting.description}}"> -->
  <div class="food-details">
    <h3>{{foodtype.name}}</h3>
    <p>{{foodtype.description}}</p>
    <!--<p>Exhibition open until: {{ format_date food.exhibition_date}}</p>-->
  </div>
</section>
